<div class="story-body">
	<h2 class='headline'>Doctor's Diagnosis Dilemma</h2>
	<div id="graphic-text">
		<div class="interElems isVisible" id='problem-statement'>
			<p>Suppose we have a medical device that can test for the presence of an imaginary rare disease called Probaphobia in a patient. This device is 99% accurate; that is, it will detect the disease in 99% of sick patients and it will give the all-clear in 99% of healthy patients. Medical studies reveal that Probophobia occurs uniformly at random in 1% of the world's population.</p>
			<p>You go in to the doctor, feeling a little under the weather. She administers the test on you and the device claims that you have the disease. <strong>How likely is it that you actually have Probaphobia?</strong></p>
		</div>
		<div class="interElems isEnter" id='guess-response'>
			<span class='result--high isHidden'>
				<p>You guessed <strong class='guess-spot'></strong>, but that's actually too high! The correct answer is that you're only 50% likely to have Probaphobia.</p>
				<p>Don't worry, though: you're in good company with American doctors. When asked this question in 2010, 95 out of 100 doctors gave answers for the the likelihood of a patient having Probaphobia that were way too high!</p>
			</span>
			<span class='result--low isHidden'>
				<p>You guessed <strong class='guess-spot'></strong>, but that's actually too low! The correct answer is that you're actually 50% likely to have Probaphobia.</p>
				<p>Don't worry, though: you're in good company with American doctors. When asked this question in 2010, 95 out of 100 doctors gave answers for the the likelihood of a patient having Probaphobia that were way too high!</p>
			</span>
			<span class='result--close isHidden'>
				<p>You were right on the money! You guessed that the probability is <strong class='guess-spot'></strong>, and the correct answer is that you're 50% likely to have Probaphobia.</p>
				<p>Compared to 95 out of 100 American doctors asked this question in 2010, you have a very good read on the situation.</p>
			</span>
		</div>
		<div class="interElems isEnter" id='explanation-start'>
			<p>Let's try to get a handle on why it's only a 50% chance that you have Probaphobia given that the medical device claimed that you were positive. It can be a little bit tough to reason about probabilities, so let's try a little experiment.</p>
			<p>Let's imagine that we take a sample of 1,600 people. Here, each person is a square. Some of these people are sick (each with probability 1%), but we won't see for sure if someone is sick or healthy for a couple more steps. First, let's <strong>test every person using our device.</strong></p>
		</div>
		<div class="interElems isEnter" id='explanation-tested'>
			<p>Here we're coloring in everybody depending on whether or not they tested positive using our fancy medical device. Remember: right now, we don't actually know who is sick and who is healthy: we only know what the imperfect device tells us.</p>
			<p>It turns out that <strong class="negative-str">XX people tested negative</strong> and <strong class="positive-str">YY tested positive</strong>. Let's group everyone together to make this easier to think about.</p>
		</div>
		<div class="interElems isEnter" id='explanation-tested-ordered'>
			<p>Now that everything's in order, we see that the number of people who <strong class="positive-str">test positive</strong> are very strongly in the minority. This is reasonable: only 1% of the global population has Probaphobia, and our device is pretty accurate overall. But we still don't know who's sick!</p>
			<p>Did I forget to mention? Probaphobia makes you sprout wings after 10 years. That way, it becomes pretty obvious who among our sample actually had the disease, regardless of what the device said. Let's simulate the passing of a decade now to let the diseased people reveal themselves.</p>
		</div>
		<div class="interElems isEnter" id='explanation-healthy'>
			<p>Here we see who's actually sick, independent of who tested positive or negative. In particular, <strong class="positive-s-str"></strong> and <strong class="negative-h-str"></strong>. These are the people for whom the device worked correctly!</p>
			<p>Unfortunately, the device was not perfect. Here we've got <strong class="positive-h-str"></strong>.</p>
			<span class='false-negatives isHidden'>
				<p>Even worse, we have a truly bad outcome: <strong class='negative-s-str'></strong> This person was ill, but the device didn't detect it.</p>
			</span>			
		 	<span class='no-false-negatives isHidden'>
				<p>Happily, we have no false negatives! People with this outcome would be in a really bad situation: they'd be sick but the device would claim otherwise.</p>
			</span>
			<p>Now that we've got everything arranged just so, let's answer the original question: how many people who tested positive actually have Probaphobia?</p>
		</div>
		<div class="interElems isEnter" id='explanation-all-pos'>
			<p>Here, we remove from consideration every person that tested negative, regardless of whether or not they had Probaphobia. We're trying to get the probability of having Probaphobia <strong>among those who test positive</strong>. A person who tested negative doens't tell us anything interesting about what we want to know!</p>
			<p>Next up, let's take a closer look at our remaining folks, all of whom tested positive.</p>
		</div>
		<div class="interElems isEnter" id='explanation-zoomed'>
			<p>Alright, things are coming into focus here. It turns out that when we compare the numbers of the healthy and the sick when constrained only to those who tested positive, these groups are about the same size!</p>
			<p>Just one more step 'til our experimental result...</p>
		</div>
	</div>
	<div class="chart-row" id="chart-1">
	</div>
	<div class="chart-row" id="ui">
		<div class="chart-row interElems isVisible" id="guesser">
			<h4 id='guess-value'>50% chance of having Probaphobia</h4>
			<input id='guesser-slider' type='range' min='0' max='100' default='50'>
		</div>
</div>
<br>
<div class="chart-row"><button id="the-button">Make my guess!</button></div>
</div>
<script src="scripts/explainer.js"></script>